@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Archivo:400,500,600,700");

body {
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.5;
  color: #494c57;
  text-align: left;
  background-color: #fff;
}

a:hover{ text-decoration:none; }

#header > nav{ background-color:#434552 !important; }
#header > nav div a{ font-size:0.9rem; color:#FFF; }
#header > nav div.dropdown-menu{ color: #434552; border-radius: 0; margin-top: 4px; box-shadow: 0 0 43px 0 #434552; }
#header > nav div a.dropdown-item{ color: #434552; }
    


a.card{ color:#000; }
a.card:hover{ background-color:#f9f9f9; }
a.card p{ color:#888; }

.table{ border:1px solid rgba(0,0,0,.125) }
.table thead{ background-color:#e5e5e5 }
.table-striped tbody tr:nth-of-type(odd){ background-color:#f9f9f9 }
.table td, .table th{ padding:.4rem; }

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (max-width: 1200px) {
}

/* Large devices (desktops, 992px and up) */
@media screen and (max-width: 992px) {
}

/* Medium devices (tablets, 768px and up) */
@media screen and (max-width: 768px) {
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 576px) {
}